footer.main-footer
    .container
        if dataIsHome
            .main-footer__call-action
                h2.main-footer__title.title Say "Bye-bye" to receding hairlines, pixie cuts, and volumizers - and "Hello!" to stronger, healthier, new hair with Zense.
                a.accent-btn(href=`${startPath}/pages/shop.html`) ORDER NOW
        .main-footer__copyright-row
             a.main-footer__logo(href="/")
                img(src=`${startPath}img/logo.svg`)
             .text.bold Copyright © 2018 ZENSE.
             .text Powered by: 
                a.bold(href="https://purpleadlab.com") PurpleAdLab  