
/***  Layout ***/

$accentColor: #DA2745;
$accentColor2: #185772;
$accentColor3: #EBE2DE;
$tableColor: #E5E5E5;

/*** Text ***/

$darkFont: #000;
$grayFont: #6F6E6E;   
$lightFont: #fff;
// $lightFont: #fff;

$mainFont: 'Gotham Pro', sans-serif;


